<h1>Edit a Shelter Listing</h1>

<%= form_tag "/shelters/#{ @shelter.id }", method: :patch do %>
	<div>
	  <%= label_tag :name %>
	  <%= text_field_tag :name, @shelter.name %>
	</div>
	<div>
	  <%= label_tag :region %>
	  <%= select_tag("region", options_for_select(["USA","Israel","Other"], ":region")) %>
	</div>
	<div>
	  <%= label_tag :address %>
	  <%= text_field_tag :address, @shelter.address %>
	</div>
	<div>
	  <%= label_tag :city %>
	  <%= text_field_tag :city, @shelter.city %>
	</div>
	<div>
	  <%= label_tag :state %>
	  <%= text_field_tag :state, @shelter.state %>
	</div>
	<div>
	  <%= label_tag :zip %>
	  <%= text_field_tag :zip, @shelter.zip %>
	</div>
	<div>
	<%= label_tag :active %>
	<%= select_tag("active", options_for_select([true, false], :active)) %>
	</div>
	<br>
	<div>
	  <%= submit_tag 'Edit' %>
	</div>
<% end %>